.cardContainer {
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12),
    0 1px 5px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  margin: 5px 5px 30px;
  height: auto;
  width: 46%;
}

.cardImageContainer {
  flex: 1;
  height: 340px;
  position: relative;
}

.cardImage {
  -webkit-filter: brightness(100%);
  height: 100%;
  width: 100%;
}

.cardImage:hover {
  -webkit-filter: brightness(70%);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.imageTextOverlay {
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}

.retreatName {
  color: var(--primary-light);
}

.cardTableContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cardContentContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 14px;
}

.retreatLinkContainer {
  border-top: 2px solid var(--light-grey);
  padding-top: 5px;
}

.retreatLinkText {
  margin: 0;
}

.retreatDatesList {
  flex: 2;
  list-style: none;
  padding: 0;
  margin: 0;
}
