.animatedUnderline:after {
  animation: var(--animate-border-line);
  border-bottom: 3px solid var(--orange);
  content: "";
  display: block;
}

.headerTitle {
  display: inline-block;
}

.rightTextOverlay {
  color: var(--primary-light);
  position: absolute;
  text-transform: uppercase;
}

.darkTitle {
  color: var(--primary-dark);
}

.inlineHeader {
  margin: 15px 0;
}

.inlineLink {
  color: var(--green);
  text-decoration: none;
}

.leftPartialUnderline {
  text-align: left;
}

.leftPartialUnderline:after {
  border-bottom: 3px solid var(--orange);
  content: "";
  display: block;
  width: 30%;
}

.sectionContainer {
  display: flex;
  min-height: 50vh;
}

.sectionContainer > div {
  margin: 15px;
}
