.animatedUnderline:after {
  animation: var(--animate-border-line);
  border-bottom: 3px solid var(--orange);
  content: "";
  display: block;
  margin-left: 25%;
  width: 50%;
}

.centerTextOverlay {
  left: 65%;
  top: 60%;
}

.centerTextOverlay,
.rightTextOverlay {
  color: var(--primary-light);
  position: absolute;
  text-transform: uppercase;
}

.darkTitle {
  color: var(--primary-dark);
}

.inlineHeader {
  margin: 15px 0;
}

.inlineLink {
  color: var(--green);
  text-decoration: none;
}

.jumboImage {
  background-size: cover;
  background-position: center center;
  height: 100%;
  position: relative;
  width: 100%;
}

.jumboContainer {
  height: 100vh;
  width: 100%;
}

.leftPartialUnderline {
  text-align: left;
}

.leftPartialUnderline:after {
  border-bottom: 3px solid var(--orange);
  content: "";
  display: block;
  width: 30%;
}

.rightTextOverlay {
  left: 65%;
  top: 60%;
}

.sectionContainer {
  display: flex;
  min-height: 50vh;
}

.sectionContainer > div {
  margin: 15px;
}
