.retreatCost {
  margin-top: 40px;
}

.retreatSectionContent {
  flex: 2;
}

.retreatDates {
  margin-bottom: 20px;
}

.retreatDetailList {
  padding: 0;
  margin: 0;
}

.retreatDescription,
.imageGridSection {
  margin-bottom: 50px;
}

.retreatSectionHeader {
  flex: 1;
}

.retreatDetailSectionContainer {
  display: flex;
  margin-bottom: 50px;
  text-align: justify;
}

.secondRetreatTestimonial {
  margin: 0 auto;
  width: 60%;
}
