.classTypeList {
  color: var(--green);
}

.inlineHeader {
  color: var(--plum);
  margin: 15px 0;
}

.mainImage {
  background-image: url("../../assets/annie-corporate.jpg");
}

.sectionText {
  text-align: justify;
  flex: 2;
}
