.classTypeList {
  color: var(--green);
}

.inlineHeader {
  color: var(--plum);
  margin: 15px 0;
}

.mainImage {
  background-image: url("../../assets/annie-corporate.jpg");
}

.sectionText {
  text-align: justify;
  flex: 2;
}

.sectionTitleHeader {
  position: absolute;
  top: 20%;
}

.sectionTitle {
  flex: 1;
  margin-right: var(--section-title-text-padding-right);
  position: relative;
  text-transform: uppercase;
}
