.container {
  display: flex;
}

.container > div {
  margin: 5px;
}

.sectionTitle {
  flex: 1;
}

.sectionContent {
  flex: 2;
  text-align: left;
}

.leftParitialUnderline:after {
  border-bottom: 2px solid var(--orange);
  content: "";
  display: block;
  margin-left: 14%;
  width: 30%;
}
