.container {
  display: flex;
  flex-direction: column;
  background: var(--primary-dark);
  height: 100vh;
  text-align: left;
  padding: 2rem;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  top: 0;
  left: 0;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
  z-index: 1;
}

.open {
  transform: translateX(0);
}

.linkContainer {
  display: flex;
  flex-direction: column;
}

.logo {
  height: 60px;
  width: 150px;
}

.logoContainer {
  display: flex;
  justify-content: center;
}

.menuLinks {
  font-size: 2rem;
  text-transform: uppercase;
  padding: 1.4rem 0;
  font-weight: bold;
  letter-spacing: 0.5rem;
  color: var(--primary-light);
  text-decoration: none;
  transition: color 0.3s linear;
}

.menuLinks:hover,
.retreatMenuListItem:hover {
  color: var(--gold);
}

@media only screen and (max-width: 567px) {
  .container {
    width: 100%;
  }

  .menuLinks {
    font-size: 1.5rem;
    text-align: center;
  }
}

.retreatMenuList {
  display: none;
  transition: visibility 0s, opacity 0.5s linear;
}

.showRetreatMenuList {
  display: flex;
  flex-direction: column;
}

.retreatMenuList > a:not(:last-child) {
  margin-bottom: 10px;
}

.retreatMenuListItem {
  color: var(--primary-light);
  font-size: 1.2rem;
  padding-top: 1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.container::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

.container::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
