.formSubmit {
  padding-top: 40px;
}

.formGroupSingle {
  display: flex;
  justify-content: center;
}

.formGroupSingle > label {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}
