.container {
  align-items: center;
  background-color: var(--footer-grey);
  color: var(--primary-dark);
  display: flex;
  height: 80px;
  justify-content: space-between;
  padding: 0.6rem 2.6rem;
}

.contributers {
  text-align: left;
}

.contributers > p {
  margin: 0;
}

.socialMedias {
  display: flex;
  justify-content: flex-end;
}

.contributers,
.websiteContributer,
.socialMedias {
  flex: 1;
}
