@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");

:root {
  --gold: #edbb48;
  --primary-dark: #282828;
  --primary-light: #e7e6e6;
  --dark-green: #143642;
  --green: #0f8b8d;
  --blue: #61b5d9;
  --light-blue: #76cfd2;
  --background-blue: #e9f7f8;
  --orange: #ffb200;
  --red: #db3b3a;
  --animate-border-line: drawBorder 2s ease forwards;
  --section-title-text-padding-right: 20px;
}

.App {
  text-align: center;
}

body {
  color: var(--primary-dark);
  font-family: "Didact Gothic", sans-serif;
}

h1,
h2,
h3 {
  margin: 0;
  text-transform: uppercase;
}

p {
  font-size: 18px;
  line-height: 26px;
  margin-top: 0;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 45px;
}

h3 {
  color: var(--dark-green);
  font-size: 26px;
}

@keyframes drawBorder {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
