@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");

:root {
  --gold: #edbb48;
  --primary-dark: #282828;
  --secondary-dark: #59646b;
  --primary-light: #e7e6e6;
  --plum: #594556;
  --dark-green: #6f868c;
  --green: #89aaa9;
  --light-green: #a9cec2;
  --orange: #fdb768;
  --animate-border-line: drawBorder 2s ease forwards;
  --section-title-text-padding-right: 20px;
}

.App {
  text-align: center;
}

.animatedUnderline:after {
  animation: var(--animate-border-line);
  border-bottom: 2px solid var(--orange);
  content: "";
  display: block;
  margin-left: 25%;
  width: 50%;
}

.centerTextOverlay {
  left: 65%;
  top: 60%;
}

.centerTextOverlay,
.rightTextOverlay {
  color: var(--primary-light);
  position: absolute;
  text-transform: uppercase;
}

.darkTitle {
  color: var(--primary-dark);
}

.inlineLink {
  color: var(--green);
  text-decoration: none;
}

.jumboContainer {
  height: 100vh;
  width: 100%;
}

.leftPartialUnderline {
  text-align: left;
}

.leftPartialUnderline:after {
  border-bottom: 2px solid var(--orange);
  content: "";
  display: block;
  width: 30%;
}

.rightTextOverlay {
  left: 65%;
  top: 60%;
}

.sectionContainer {
  display: flex;
  min-height: 50vh;
}

.sectionContainer > div {
  margin: 5px;
}

body {
  color: var(--primary-dark);
  font-family: "Didact Gothic", sans-serif;
}

h1,
h2,
h3 {
  margin: 0;
}

p {
  font-size: 18px;
  line-height: 26px;
  margin-top: 0;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 45px;
}

@keyframes drawBorder {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
