@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");

:root {
  --gold: #edbb48;
  --primary-dark: #282828;
  --primary-light: #e7e6e6;
}

.App {
  text-align: center;
}

body {
  font-family: "Didact Gothic", sans-serif;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

p {
  color: var(--primary-dark);
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 45px;
}
