.buttonGreen {
  background-color: var(--blue);
}

.appButton {
  border: 2px solid var(--dark-green);
  border-radius: 3px;
  font-size: inherit;
  font-weight: bold;
  height: 46px;
  transition: 0.2s;
  width: 174px;
}

.appButton:hover {
  background-color: var(--light-blue);
  transition: 0.2s;
}
