.sectionDivider {
  position: relative;
  margin-top: 40px;
  height: 1px;
}

.sectionDivider:before {
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 1.4px;
  background-image: linear-gradient(
    to right,
    transparent,
    var(--light-grey),
    transparent
  );
}
